@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  // background-image: url('./images/fd69e78e652acf536109cb75298f8deae2a7b32b_hq.gif');
  // background-repeat: no-repeat;
  // background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  // background-image: url('./images/pikachu-running.gif');
  background-color: #2988b9;
  background-size: 25px;
  background-repeat: no-repeat;
  
  .filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    p {
      margin-top: 3vh;
    }
  }
  .container{
  ul{
    display: flex;
    justify-content: space-between;
    li {
      text-decoration: none;
      list-style-type: none;
      font-family: 'Press Start 2P', cursive;
        margin: 10px;
        padding: 5px 8px 5px 8px;
        border: 1px solid black;
        display: inline-block;
        border-radius: 6px;
        -webkit-border-radius: 6px; 
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        font-size: 15px;
        color: #FFF;
        cursor:pointer; 
        &:hover {
          transform: scale(1.1);
          background-color: #ffffff;
          
        }
    }
  }
  }
}


  .title{
    height: 100vh;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/d84o6a9-28125268-b60b-4752-a665-acf6b32fbe37.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NhZDRiNTJlLWY2YjEtNDMyZi05MDM1LWE1ZjQ4NTNiY2YxNVwvZDg0bzZhOS0yODEyNTI2OC1iNjBiLTQ3NTItYTY2NS1hY2Y2YjMyZmJlMzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.E8Cz0zggZe_qb5KHtrjPAJJTDCl3YQ7K7GUvLtOBrbg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
  }
    .logo{
      display: flex;
      justify-content: center;
      .pic {
        margin-top: 15vh;
        width: 75vh;
      }
    }
    .homeLinks{
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        background-color:rgba(255, 255, 255, 0.5);
        font-family: 'Press Start 2P', cursive;
        margin: 10px;
        padding: 5px 8px 5px 8px;
        display: inline-block;
        border-radius: 6px;
        -webkit-border-radius: 6px; 
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        font-size: 20px;
        color: #FFF;
        cursor:pointer; 
        &:hover {
          transform: scale(1.5);
          background-color: #ffffff;
          
        
          

        }
      }
    }
    
  
.select {
  margin: 10px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  
}

.filter-type {
  margin: 10px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  &:hover {
    cursor: pointer;
  }
}

.btn-refresh {
  background-color:rgba(255, 255, 255, 0.5);
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
  padding: 5px 8px 5px 8px;
  display: inline-block;
  // border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  &:hover {
    cursor: pointer;
    background-color:green;
    color: white;
  }
}

.pokemon-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &:hover {
    cursor: pointer;
    // background-color:green;
  }
}

$typeColours: (
  "Normal": #A8A77A,
  "Fire": #EE8130,
  "Water": #6390F0,
  "Grass": #7AC74C,
  "Electric": #F7D02C,
  "Ice": #96D9D6,
  "Fighting": #C22E28,
  "Poison": #A33EA1,
  "Ground": #E2BF65,
  "Flying": #A98FF3,
  "Psychic": #F95587,
  "Bug": #A6B91A,
  "Rock":	#B6A136,
  "Ghost":	#735797,
  "Dark":	#705746,
  "Dragon":	#6F35FC,
  "Steel":	#B7B7CE,
  "Fairy":	#D685AD
);

// .main-part{
//   background-image: url('./images/background.gif');
//   background-size: cover;
//   background-repeat: no-repeat;
.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #2988b9;
  
    div{
      width: calc(10% - 5px);
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      margin-top: 4px;
      font-size: 10px;
      border-radius: 5%;
    
    }
    @each $type, $colour in $typeColours {
      .#{$type} {
        background-color: $colour;
        box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
        
        &:hover{
          background-color: darken($colour, 5%);
          cursor: pointer;
          img{
            transition: transform 1s;
            transform: scale(2);
          }
        }
      }
    }
  
  
    img {
      max-width: 100px;
      max-height: 100px;
      
    }
  

  
}
select{
  font-family: 'Press Start 2P', cursive;
}
.big-card{
  display: flex;
  justify-content: space-between;
  img{
    max-width: 50px;
    max-height: 50px;
  }
  div{
    .evolutions{
        button{
          background-color:rgba(255, 255, 255, 0.5);
          font-family: 'Press Start 2P', cursive;
          margin: 10px;
          padding: 5px 8px 5px 8px;
          display: inline-block;
          // border: none;
          border-radius: 6px;
          -webkit-border-radius: 6px; 
          -moz-border-radius: 6px;
          -o-border-radius: 6px;
          &:hover {
            cursor: pointer;
            color:white;
            background-color:green;
          }
        }
    }
  }
}
.dimensions{
  width: 20%;
  border: 2px dashed black;
}


@media only screen and (max-width: 1100px){
.pokemon-list{
  div{
    width: calc(15% - 5px);
  }
}
}

@media only screen and (max-width: 730px){
  .pokemon-list{
    div{
      width: calc(30% - 5px);
    }
  }
  }
